@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome New Person</h1>
    }
    <p>This is still in super early dev. This is the game page.</p>
    <p>Play our TicTacToe Game </p><a class="nav-link text-dark" asp-area="" asp-controller="TicTacToe" asp-action="TicTacToe">Here</a>
</div>
