@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">User Page</h1>
    <p>Gonna have log on and new account soon hell yeah</p>
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    <a asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a>
</div>
